<section class="products">
    <!-- filters -->
    <div class="filters">
        <div class="filters-container">
            <p>Only one filter per category!</p>
            <!-- categories -->
            <h4 class="filter-title">Manufacturer</h4>
            <article class="filter">
                <div class="filter-item">
                    <input type="checkbox" class="company-btn" name="Noctua">
                    <label for="Noctua">Noctua</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" class="company-btn" name="Be Quiet">
                    <label for="Be Quiet">Be Quiet</label>
                </div>
            </article>
            <h4  class="filter-title">Socket</h4>
            <article class="includedfans">
                <div class="filter-item">
                    <input type="checkbox" class="company-btn" name="120 mm">
                    <label for="120 mm">120 mm</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" class="company-btn" name="140 mm">
                    <label for="140 mm">140 mm</label>
                </div>
            </article>
        </div>
    </div>
    <div class="products-container">
        <!-- new product -->
        <article class="product"
        *ngFor="let fan of fans">
            <div class="product-container">
                <img src="http://localhost:5190/{{fan.id}}.jpg" class="product-img img" alt="{{fan.title}}">
                <div class="product-icons">
                        <a class="product-icon" (click)="accessItem(fan.id)">
                            <i class="fas fa-search"></i>
                        </a>
                    <button class="product-cart-btn product-icon" (click)="addItem(fan)">
                    <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <footer>
            <p class="product-name">{{fan.manufacturer}} {{fan.title}}</p>
            <h4 class="product-price">RON {{fan.price}}</h4>
            </footer>
        </article>
        <!-- end of new product -->
        
    </div>
</section>
