<section class="products">
    <!-- filters -->
    <div class="filters">
        <div class="filters-container">
            <p>Only one filter per category!</p>
            <!-- categories -->
            <h4 class="filter-title">Manufacturer</h4>
            <article class="filter">
                <div class="filter-item">
                    <input type="checkbox" name="Audio Technica" class="company-btn">
                    <label for="Audio Technica">Audio Technica</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" name="Logitech" class="company-btn">
                    <label for="Logitech">Logitech</label>
                </div>
            </article>
            <h4  class="filter-title">Type</h4>
            <article class="filter">
                <div class="filter-item">
                    <input type="checkbox" name="wireless" class="company-btn">
                    <label for="wireless">wireless</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" name="bluetooth" class="company-btn">
                    <label for="bluetooth">bluetooth</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" name="3.5mm jack" class="company-btn">
                    <label for="3.5mm jack">3.5mm jack</label>
                </div>
            </article>
        </div>
    </div>
    <div class="products-container">
        <!-- new product -->
        <article class="product"
        *ngFor="let headphone of headphones">
            <div class="product-container">
                <img src="http://localhost:5190/{{headphone.id}}.jpg" class="product-img img" alt="ryzen9 7950x">
                <div class="product-icons" >
                        <a class="product-icon" (click)="accessItem(headphone.id)">
                            <i class="fas fa-search"></i>
                        </a>
                    <button class="product-cart-btn product-icon" (click)="addItem(headphone)">
                    <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <footer>
            <p class="product-name">{{headphone.manufacturer}} {{headphone.title}}</p>
            <h4 class="product-price">RON {{headphone.price}}</h4>
            </footer>
        </article>
        <!-- end of new product -->
        
    </div>
</section>
