<section class="products">
    <!-- filters -->
    <div class="filters">
        <div class="filters-container">
            <p>Only one filter per category!</p>
            <!-- categories -->
            <h4 class="filter-title">Manufacturer</h4>
            <article class="filter">
                <div class="filter-item">
                    <input type="checkbox" class="company-btn" name="Corsair">
                    <label for="Corsair">Corsair</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" class="company-btn" name="Be Quiet">
                    <label for="Be Quiet">Be Quiet</label>
                </div>
            </article>
            <h4  class="filter-title">Socket</h4>
            <article class="includedfans">
                <div class="filter-item">
                    <input type="checkbox" class="company-btn" name="0">
                    <label for="0">0</label>
                </div>
                <div class="filter-item">
                    <input type="checkbox" class="company-btn" name="3">
                    <label for="3">3</label>
                </div>
            </article>
        </div>
    </div>
    <div class="products-container">
        <!-- new product -->
        <article class="product"
        *ngFor="let cpufanliquid of cpufansliquid">
            <div class="product-container">
                <img src="http://localhost:5190/{{cpufanliquid.id}}.jpg" class="product-img img" alt="{{cpufanliquid.title}}">
                <div class="product-icons">
                        <a class="product-icon" (click)="accessItem(cpufanliquid.id)">
                            <i class="fas fa-search"></i>
                        </a>
                    <button class="product-cart-btn product-icon" (click)="addItem(cpufanliquid)">
                    <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
            <footer>
            <p class="product-name">{{cpufanliquid.manufacturer}} {{cpufanliquid.title}}</p>
            <h4 class="product-price">RON {{cpufanliquid.price}}</h4>
            </footer>
        </article>
        <!-- end of new product -->
        
    </div>
</section>
