<section class="single-product">
    <div class="section-center single-product-center">
        <img src="http://localhost:5190/{{sRam.id}}.jpg" alt="" class="single-product-img img">
        <article class="single-product-info">
            <div>
                <h2 class="single-product-title">{{sRam.manufacturer}} - {{sRam.title}}</h2>
                <p class="single-product-price text-slanted">RON {{sRam.price}}</p>
                <p class="single-product-desc">Manufacturer: {{sRam.manufacturer}}</p>
                <p class="single-product-desc">Capacity: {{sRam.capacity}}</p>
                <p class="single-product-desc">Generation: {{sRam.generation}}</p>
                <p class="single-product-desc">Type of Kit: {{sRam.kit}}</p>
                <p class="single-product-desc">Frequency: {{sRam.frequency}}</p>
                <p class="single-product-desc">Standard Operating Voltage: {{sRam.voltage}}</p>
                <p class="single-product-desc">Latency: {{sRam.latency}}</p>
                <p class="single-product-desc">Radiator: {{sRam.radiator}}</p>
                <p class="single-product-desc">Overclock Scheme: {{sRam.overclock}}</p>
                <button class="addToCartBtn btn" (click)="addItem(sRam)">add to chart</button>
            </div>
        </article>
    </div>
</section>