<section class="single-product">
    <div class="section-center single-product-center">
        <img src="http://localhost:5190/{{sSsd.id}}.jpg" alt="" class="single-product-img img">
        <article class="single-product-info">
            <div>
                <h2 class="single-product-title">{{sSsd.manufacturer}} - {{sSsd.title}}</h2>
                <p class="single-product-price text-slanted">RON {{sSsd.price}}</p>
                <p class="single-product-desc">Manufacturer: {{sSsd.manufacturer}}</p>
                <p class="single-product-desc">Capacity: {{sSsd.capacity}}</p>
                <p class="single-product-desc">Connector: {{sSsd.connector}}</p>
                <p class="single-product-desc">Cache Amount: {{sSsd.cache}}</p>
                <p class="single-product-desc">Memory Architecture: {{sSsd.memoryType}}</p>
                <p class="single-product-desc">Form Factor: {{sSsd.formFactor}}</p>
                <button class="addToCartBtn btn" (click)="addItem(sSsd)">add to chart</button>
            </div>
        </article>
    </div>
</section>
